.font {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(98, 237, 83);
}
.intro-image {
    width: 10;
    height: 10px;
    margin-top: 20px;
}
.introduction {
   background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #76ef78;
    gap: 2rem;
    border: 5px solid #f6ef2b;
    border-radius: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 1rem ;
}
.nav-links{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
body {
   animation: slideIn 2s ease-out forwards;
}
@keyframes slideIn {
   from {
       opacity: 0;
       transform: translateY(20px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}
button{
    background-color: #ffffff;
    color:#2f3a24;
    padding: 10px 20px;
    border: 2px solid #a1d66c;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3 ease;
}
button:hover{
    background-color: #45a049;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section-title{
    color: gold;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: monospace;
}
.slider{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
    border-radius: 8px;
} 
.slider img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 15s infinite;
    opacity: 0;
} 
.slider img:nth-child(1){
    animation-delay: 0s;
}
.slider img:nth-child(2){
    animation-delay: 3s;
}
.slider img:nth-child(3){
    animation-delay: 6s;
}
.slider img:nth-child(4){
    animation-delay: 9s;
}
.slider img:nth-child(5){
    animation-delay: 12s;
}
@keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
} 